@font-face {
  font-family: Heebo;
  src: url("./Heebo-Regular.ttf") format("opentype");
}

@font-face {
  font-family: Heebo-Light;
  src: url("./Heebo-Light.ttf") format("opentype");
}

@font-face {
  font-family: Heebo-Medium;
  src: url("./Heebo-Medium.ttf") format("opentype");
}

@font-face {
  font-family: Heebo-Bold;
  src: url("./Heebo-Bold.ttf") format("opentype");
}
